@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a::after {
  content: '';
  position: absolute;
  background: #333;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

#header .site-title {
  padding: 20px 16px;
  line-height: 1px;
}

#header .site-title a {
  display: inline-block;
}

#navi {
  background-color: #333;
}

#navi ul {
  display: flex;
}

#navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

#navi a {
  color: #fff;
  align-items: center;
  justify-content: flex-start;
}
