@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a::after {
  content: '';
  position: absolute;
  background: #333;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

#header .site-title {
  padding: 20px 16px;
  line-height: 1px;
}

#header .site-title a {
  display: inline-block;
}

#navi {
  background-color: #333;
}

#navi ul {
  display: flex;
}

#navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

#navi a {
  color: #fff;
  align-items: center;
  justify-content: flex-start;
}

#pickup {
  padding: 150px 16px 0 16px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

#pickup article {
  width: 32%;
}

#pickup .article-title {
  font-size: 1rem;
  margin: 10px 0 15px 0;
}

#container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

main {
  width: 65%;
}

main article {
  margin-bottom: 80px;
}

main .article-title {
  margin: 10px 0 15px 0;
  font-size: 1.5rem;
}

main ul {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
}

main li {
  margin-right: 20px;
  font-size: 0.875rem;
}

main .text {
  padding: 10px 40px 30px 40px;
}

#sidebar {
  width: 33%;
  padding: 20px 20px;
}

.author {
  margin-bottom: 60px;
  text-align: center;
}

.author img {
  margin-bottom: 30px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

#sidebar .side-title {
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-weight: bold;
}

.author .profile {
  font-size: 0.875rem;
  text-align: left;
}

.ranking {
  margin-bottom: 60px;
  text-align: center;
}

.ranking article {
  margin-bottom: 30px;
}

.ranking .article-title {
  text-align: left;
  font-size: 0.875rem;
  font-weight: normal;
}

.archive {
  text-align: center;
  margin-bottom: 60px;
}

.archive ul {
  border-bottom: solid 1px #777;
}

.archive li {
  padding: 20px 20px;
  border-top: solid 1px #777;
  text-align: left;
  font-size: 0.875rem;
}
